pandas==2.1.4
SQLAlchemy==2.0.32
matplotlib==3.9.2
matplotlib-inline==0.1.7
langchain==0.2.13
langchain-openai==0.0.x
langchain-community==0.2.12
langchain-core==0.2.30
langchain-ibm==0.1.12
langchain-text-splitters==0.2.2
langsmith==0.1.99
numpy==1.26.4
openai==1.35.15
python-dotenv==1.0.1
